/BabyStore/.vs/BabyStore/v15/.suo
/BabyStore/.vs/BabyStore/v15/Server/sqlite3/db.lock
/BabyStore/.vs/BabyStore/v15/Server/sqlite3/storage.ide
/BabyStore/.vs/config/applicationhost.config
/BabyStore/BabyStore/bin/Debug/netcoreapp2.0/BabyStore.deps.json
/BabyStore/BabyStore/bin/Debug/netcoreapp2.0/BabyStore.dll
/BabyStore/BabyStore/bin/Debug/netcoreapp2.0/BabyStore.pdb
/BabyStore/BabyStore/bin/Debug/netcoreapp2.0/BabyStore.runtimeconfig.dev.json
/BabyStore/BabyStore/bin/Debug/netcoreapp2.0/BabyStore.runtimeconfig.json
/BabyStore/BabyStore/obj/BabyStore.csproj.nuget.cache
/BabyStore/BabyStore/obj/BabyStore.csproj.nuget.g.props
/BabyStore/BabyStore/obj/BabyStore.csproj.nuget.g.targets
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.AssemblyInfo.cs
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.AssemblyInfoInputs.cache
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.csproj.CoreCompileInputs.cache
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.csproj.FileListAbsolute.txt
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.csprojResolveAssemblyReference.cache
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.dll
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/BabyStore.pdb
/BabyStore/BabyStore/obj/Debug/netcoreapp2.0/UserSecretsAssemblyInfo.cs
/BabyStore/BabyStore/obj/project.assets.json
